@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-72 rounded-md border-2 p-1 focus-visible:outline-none;
}

.bg-image {
  background-image: url("../images/bg-image-transparent.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (screen(lg)) {
  .bg-image {
    background-image: none;
  }
}

.main-image {
  background-image: url("../images/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.valid {
  @apply border-green-300;
}

.invalid {
  @apply border-red-300;
}

.valid-constraint {
  @apply text-green-500;
}

.invalid-constraint {
  @apply text-red-500;
}
